:root {
    --border-radius: 1rem;
    --border-color: #eee;
    --primary-color: white;
    --primary-secondary-color: #eeeeee;
    --primary-secondary-color-hover: #eceaea;
    --primary-secondary-font: #333333;
}