.addrecipe_form_style 
{
   display: flex;
   flex-direction: column;
}
.form_style
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin: 1rem 1rem;
}
.form_inputs
{
    border: none;
    border: solid 1px rgb(139, 139, 139);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 10px 0;
}
.form_inputs_dropdown
{
    border: none;
    border: solid 1px rgb(139, 139, 139);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.form_style > input[type="submit"]
{
    margin: 1rem 0;
    padding:10px;
}   
.add_btn
{
    background-color: grey;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 10px;
}