@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

*
{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    padding: 0;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 0px 3px rgb(139, 139, 139);
}
.header > *
{
    margin: 0 2rem;

}
input[type="text"]
{
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(139, 139, 139);
    padding-left: 1rem;
    outline: none;
}
.search_items
{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px rgb(139, 139, 139);
    border-radius: 10px;
    width: 20rem;
    max-height: 20rem;
    overflow: scroll;
    padding: 10px;
}
.items:first
{
    padding-top: 10px;
}
.items
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0;
    width: 20rem;
}
.items > .item_name
{
    width: 13rem;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;

}
.items > img
{
   width: 3rem;
   height: 3rem;
   border-radius: 10px;
   cursor: pointer;
   transition: ease-in-out 0.3s;
}
.ic_hover
{
    transition: ease-in-out 0.1s;
    border-radius: 8px;
}
.ic_hover:hover
{
    transform: scale(1.1);
    background-color: rgb(228, 228, 228);
}
.items > .add_icon
{
    width: 20px;
    height: 20px;
}