@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

*
{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    padding: 0;
}
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 0px 3px rgb(139, 139, 139);
}
input[type="text"]
{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(139, 139, 139);
    padding-left: 1rem;
    outline: none;
}
.search-items
{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px rgb(139, 139, 139);
    border-radius: 10px;
    padding: 10px;
    width: 15rem;
}
.items
{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0
}
.items > img
{
   width: 3rem;
   height: 3rem;
   border-radius: 10px;
}