.recipe_cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5rem;
    margin: 2rem;
}
@media screen and (max-width: 1000px)
{
    .recipe_cards
    {
        justify-items: center;
        align-items: center;
    }
    
}
.recipe_cards > .empty-recipe
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recipe_card
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 200px;
    box-shadow: 0px 0px 8px rgb(161, 161, 161);
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}
.recipe_card_header
{
    height: 160px;
    width: auto;
    overflow: hidden;
    box-shadow: 0 8px 0 -6px rgb(161, 161, 161);
    margin-bottom: 5px;
}
.recipe_card > img
{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    aspect-ratio: 2/1;
}
a
{
    padding-top: 5px;
    text-decoration: none;
    color: black;
}
.btn 
{
    color: white;
    padding: 0.5rem 1rem;
    background-color: rgb(44, 44, 44);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px px 1px rgb(44, 44, 44);
}
.recipe_card_footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share_btn,.delete_btn
{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.recipe_card_details
{
    margin: 5px 0;
}
.filter-ribbon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;
}
.category-dropdown
{
   padding: 5px;
   border-radius: 10px;
   border: 1px solid rgb(161, 161, 161);
}
.recipe_cards > .add_icon
{
    display: flex;
    justify-content: center;
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(44, 44, 44);
	color:#FFF;
	border-radius:50px;
    font-size: 40px;
    cursor: pointer;
    transition: ease-in 0.1s;
}

@keyframes toast {
    from {bottom: 0px;}
    to{ bottom: 100px;}
}
.add_icon.active
{
    transform: rotate(45deg);
    box-shadow: 0px 0px 8px rgb(44, 44, 44);
}