@import "../variables.module.css";

.addrecipe_form_style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_style {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
}

.form_style label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.form_style hr {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid var(--border-color);
}

.form_inputs {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form_inputs:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}

.form_inputs_dropdown {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--primary-secondary-color);
    padding: 12px;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form_inputs_dropdown:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}

.form_style > input[type="submit"] {
    margin: 1.5rem 0;
    padding: 12px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_style > input[type="submit"]:hover {
    background-color: #555;
}

.add_btn {
    padding: 0.5rem 1.5rem;
    margin: 0 0 0 1rem;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add_btn:hover {
    background-color: #555;
}

.form_textarea {
    border-radius: 10px;
    height: fit-content;
    padding: 12px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.form_textarea:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}

.submit_btn {
    margin: 0;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit_btn:hover {
    background-color: #555;
}