:root {
    --search-input-width: 21rem; /* Define a variable for the search input width */
}
*
{
    font-family: 'inter', sans-serif;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 0 5px;
}
.header > *
{
    margin: 0 2rem;

}
.header_name
{
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
}
.header_input[type="text"] {
    width: var(--search-input-width); /* Use the variable for the search input width */
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color); /* Lighter border color */
    padding-left: 1rem;
    outline: none;
    background-color: var(--primary-secondary-color); /* Use your existing variable */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.header_input[type="text"]:hover {
    background-color: var(--primary-secondary-color-hover); /* Use your existing variable */
}

.header_input[type="text"]:focus {
    border-color: #888; /* Subtle gray border on focus */
    background-color: #ffffff; /* White background on focus */
}

.search_items {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px rgb(139, 139, 139);
    border-radius: 10px;
    width: var(--search-input-width); /* Use the same variable for the search items width */
    max-height: 20rem;
    overflow: scroll;
    padding: 10px;
    animation: scrollDown 0.2s ease-out;
    z-index: 1;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.search_items::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.items:first
{
    padding-top: 10px;
}
.items
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0;
    width: 20rem;
}
.items > .item_name
{
    width: 13rem;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;

}
.items > img
{
   width: 3rem;
   height: 3rem;
   border-radius: 10px;
   cursor: pointer;
   transition: ease-in-out 0.3s;
}
.ic_hover
{
    transition: ease-in-out 0.1s;
    border-radius: 8px;
}
.ic_hover:hover
{
    transform: scale(1.1);
    background-color: rgb(228, 228, 228);
}
.items > .add_icon
{
    width: 20px;
    height: 20px;
}
.add_button {
  background-color: var(--primary-secondary-color);
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--border-color);
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 50%; /* Makes the button round */
  overflow: hidden; /* Ensures the image fits within the round button */
  width: 35px; /* Adjust the size as needed */
  height: 35px; /* Adjust the size as needed */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.add_button:hover {
  background-color: var(--primary-secondary-color-hover); /* Change this to your desired hover background color */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.add_button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the button area */
}

@keyframes scrollDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}