@import "../variables.module.css";

.circle
{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    padding: 0.5rem;
    margin-left: 20px;
    background-color: var(--primary-secondary-color);

}
.circle:hover
{
    background-color: var(--primary-secondary-color-hover);
}

.back_icon
{
    width: 20px;
    padding: 0 2rem;
}