@import "../variables.module.css";
*
{
    padding: 0;
    margin: 0;
}
header
{
    display: flex;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid var(--border-color);
}

.recipe_details
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 5rem 2rem 5rem ;
}
.recipe_details > ul,ol
{
    position: relative;
    margin: 0 20px;
}
.recipe_details > h3
{
    display: inline-block;
    background-color: var(--primary-secondary-color);
    padding: 10px;
    border-radius: 5px;
}
.recipe_details_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
}
.recipe_details_header_left
{
    width:30rem;
}
.recipe_details_header > h1
{
    font-size: 2rem;
    font-weight: 1000;
}
.recipe_details_header > img
{
    width: 300px;
    height: 200px;
    border-radius: 2rem;
}
.recipe_details > pre
{
    white-space: pre-wrap;
}

