*
{
    padding: 0;
    margin: 0;
}
header
{
    display: flex;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 0px 3px rgb(139, 139, 139);
}
header > a > img
{
    padding: 0 2rem;
}
.recipe_details
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 5rem 2rem 5rem ;
}
.recipe_details > ul,ol
{
    position: relative;
    margin: 0 20px;
}
.recipe_details_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgb(189, 188, 188);
    padding: 3rem 0;
}
.recipe_details_header_left
{
    width:30rem;
}
.recipe_details_header > h1
{
    font-size: 2rem;
    font-weight: 1000;
}
.recipe_details_header > img
{
    width: 300px;
    height: 200px;
    border-radius: 2rem;
}
.recipe_details > pre
{
    white-space: pre-wrap;
}