@import "../variables.module.css";

.recipe_cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5rem;
    margin: 2.5rem;
}
@media screen and (max-width: 1000px)
{
    .recipe_cards
    {
        justify-items: center;
        align-items: center;
    }
    
}
#recipe_card_category {
    display: inline-block;
    background-color: #ff9800; /* Material Design red color */
    color: #ffffff; /* White text for better contrast */
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-left: -3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Elevation */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    cursor: pointer;
    position: relative; /* For ripple effect */
    overflow: hidden; /* For ripple effect */
}
.category_divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding-right: 0; 
}
.category_container
{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 1rem 0;
    gap: 8px;
}
.category_container > p:first-child
{
    font-size: 1rem;
}

.recipe_cards > .empty-recipe
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recipe_card
{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 15rem;
    box-shadow: 0px 0px 8px rgb(161, 161, 161);
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.1s ease-out;
}
.recipe_card:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.recipe_card_header > img
{
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 16rem;
    overflow: hidden;
}
.recipe_card_footer
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px 16px;
    border-radius: 0 0 20px 20px;
    height: fit-content;
    margin-top: -30px;
    background-color: white;
}
.recipe_card_footer > .icons_container
{
    margin: 0 0 8px 0;
    display: flex;
    position: relative;
}

.recipe_card_details
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
.recipe_card_details > h3
{
    font-size: 1.5rem;
    font-weight: normal;
}
.recipe_card_details > p
{
    font-size: 0.85rem;
    color: var(--text-color);
}
.delete_btn {
    background-color: #f44336; 
    border: none;
    padding: 0;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}

.delete_btn > img {
    width: 24px;
    height: 24px;
}

.delete_btn:hover {
    background-color: #d32f2f; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.delete_btn:active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 50%;
    animation: ripple 0.6s ease-out;
}

.tag-container {
  display: flex;
  position: absolute;
  gap: 5px;
  flex-wrap: nowrap;
  overflow-x: auto;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0 0 10px;
}

.tag {
    display: inline-block;
    background-color: #2196f3; /* Material Design blue color */
    color: #ffffff; /* White text for better contrast */
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .9em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Elevation */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    cursor: pointer;
    position: relative; /* For ripple effect */
    overflow: hidden; /* For ripple effect */
}

.btn 
{
    color: white;
    padding: 0.5rem 2.5rem;
    background-color: rgb(44, 44, 44);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px px 1px rgb(44, 44, 44);
    transition: all 0.5s ease-in-out;
}
.fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.filter-ribbon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2.5rem;
}
.category-dropdown {
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #ccc; /* Lighter border color */
    padding: 0 .5rem;
    outline: none;
    background-color: var(--primary-secondary-color); 
    transition: background-color 0.3s, border-color 0.3s; 
    text-align: left;
}

.category-dropdown:hover {
    background-color: var(--primary-secondary-color-hover); /* Use your existing variable */
}


.recipe_cards > .add_icon
{
    display: flex;
    justify-content: center;
    position:fixed;
	width:60px;
	height:58px;
	bottom:40px;
	right:40px;
    padding: 0 0 1px 0;
	background-color:rgb(44, 44, 44);
	color:#FFF;
	border-radius:50px;
    font-size: 40px;
    cursor: pointer;
    transition: ease-in 0.1s;
}

@keyframes toast {
    from {bottom: 0px;}
    to{ bottom: 100px;}
}
a
{
    padding-top: 5px;
    text-decoration: none;
    color: black;
}
.add_icon:hover
{
    animation: 0.5s ease-in-out;
    box-shadow: 0px 0px 8px rgb(44, 44, 44);
}
.add_icon.active
{
    animation: fillscreen 0.5s ease-out;
}
#recipe_youtube,#recipe_source
{
    width: 35rem;
}
@keyframes fillscreen {
    from { 
        opacity: 0; 
        transform: scale(1);
        background-color: white;
    }
    to {
        opacity: 1;
        transform: scale(100);
        background-color: white;
    }
}